
<ul class="nav justify-content-end bg-light border border-2 rounded py-1 mb-3">
  <li class="nav-item px-3">
    <%= link_to "Add New List", new_list_path, class:"btn btn-secondary px-3"%>
  </li>
</ul>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.adsttc.com/media/images/5f7d/fef2/63c0/170a/9100/0273/slideshow/Jiangnan_Photography.jpg?1602092773);">
  <h1>Lists Of Movies</h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <ul class="list-group">
      <% @lists.each do |list| %>
        <div class="col-12">
          <div class="list-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://s3-us-west-2.amazonaws.com/prd-rteditorial/wp-content/uploads/2018/03/13153742/RT_300EssentialMovies_700X250.jpg)">
            <%= link_to list.name, list_path(list), class:"text link-offset-2 link-underline link-underline-opacity-0" %>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
</div>
